extends base

block append head 
  link(rel='stylesheet', href='/css/homePage.css')
  script(src='https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js') 
  link(rel="stylesheet",href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")


mixin guideBox(guide)
  .col-lg-4.col-md-6
    a(href=`guides/${guide.slug}`) 
      .info-box.d-flex
        img.info-box-icon(src=`/images/icon/${guide.icon}` alt=`${guide.title} icon`)
        .info-text.d-flex.flex-column.align-items-start
          h6.info-box-title= guide.title
          p.info-box-description= guide.subtitle
          .info-box-read.d-flex.justify-content-center.align-items-center.gap-2
            p Read more   
            ion-icon.arrow-icon(name='arrow-forward-outline')

mixin card(news)
  .swiper-slide.card
    a(href=`news/${news.slug}`) 
      img.card-img-top(src=`images/news/${news.coverImg}.jpg` ,alt=`${news.title}`)
      .card-body.d-flex.flex-column
        h5.card-title= news.title
        p.card-text= news.content



block content 

  section.section-hero.position-relative 
    .container-welcome.text-center.position-absolute.top-50.start-50.translate-middle
      h2.header-title-secondary Welcome to
      h1.header-title-primary Guine Bissau

  section.section-grid.position-relative
    .container.guides-container
      .row.mb-5.g-5
        each guide in guides 
          +guideBox(guide)

  section.section-airport-news
    .container.swiper-container.d-flex.justify-content-center.align-items-center.container-section
      .container-text.pad-left
        h3.sub-heading News
        h2.heading-secondary= airportNews.title 
        p.text-box--description= airportNews.subtitle 

      // Swiper
      .swiper.right-swiper
        .swiper-wrapper
          each news in airportNews.data
            +card(news)

        .swiper-scrollbar

  section.section-latest-news
    .container.swiper-container.d-flex.justify-content-center.align-items-center.container-section
      // Swiper
      .swiper.left-swiper
        .swiper-wrapper
          each news in latestNews.data  
            +card(news)

        .swiper-scrollbar

      .container-text.pad-right
        h3.sub-heading News 
        h2.heading-secondary= latestNews.title 
        p.text-box--description= latestNews.subtitle

  section.section-disclaimer
    .container
      h2.heading-mini Disclaimer
      p.text-mini
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
